# Build and Release Folders
bin-debug/
bin-release/
bin/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project
.settings/*
.project
user.properties
.idea?

# OSX
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
Icon?
.DS_Store
._*
.Spotlight-V100
.Trashes

# Diff
*.orig

# Misc
java-src/